<a href="https://colab.research.google.com/github/arunpothencode/MyPython/blob/Dev-1/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import udf, explode, col, regexp_replace
from pyspark.sql.types import IntegerType,StringType,ArrayType

spark = SparkSession.builder.appName('Spark test').getOrCreate()

In [3]:
data = [
    (100, "Emp_name1"),
    (101, "Emp_name2"),
    (102, "Emp_name3"),
    (103, "Emp_name4"),
    (104, "Emp_name5")
  ]

In [4]:
columns = ["Emp_id","Emp_Name"]

In [5]:
df = spark.createDataFrame(data=data, schema = columns)

In [7]:
df.show()

+------+---------+
|Emp_id| Emp_Name|
+------+---------+
|   100|Emp_name1|
|   101|Emp_name2|
|   102|Emp_name3|
|   103|Emp_name4|
|   104|Emp_name5|
+------+---------+